.text_linear_gradient {
  background: linear-gradient(270deg, #000 9.64%, #ff8541 99.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quotecard_linear_gradient {
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    #f6f6f6 0%,
    rgba(251, 251, 251, 0.63) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(255, 133, 65, 0.2);
  animation: quotecard_animation 10s ease 2s infinite;
}
.quotecard_card_parent::-webkit-scrollbar {
  display: none;
}
.quotecard_card_parent {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.imageTransition1 {

  animation: topToBottam_viceversa 5s ease-in 0.5s infinite;
}

.imageTransition2 {
  animation: opacity_animation 5s ease-in-out 1s infinite;
}

@keyframes opacity_animation {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes topToBottam_viceversa {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(20px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes quotecard_animation {
  0% {
    transform: translatex(-400px);
  }
  30% {
    transform: translatex(-850px);
  }
  60% {
    transform: translatex(-1250px);
  }
  100% {
    transform: translatex(-1650px);
  }
}
