.text {
  background: linear-gradient(270deg, #000 9.64%, #9747ff 99.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-swap 3s linear infinite;
}
@keyframes color-swap {
  0% {
    background: linear-gradient(270deg, #000 9.64%, #f87b34 99.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(270deg, #f87b34 9.64%, #000 99.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(270deg, #000 9.64%, #f87b34 99.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.img_top_text {
  position: absolute;
  margin: 0 auto;
  width: fit-content;
  color: #f87b34;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  left: 24%;
  transform: translateY(-10px);
  animation: text_tranform 1s ease infinite;
}
.img {
  position: relative;
  margin: 0 auto;
}
@media screen and (width<=400px) {
  .img_top_text {
    transform: translate(1px);
    
  }
}

/* @keyframes text_tranform {
  0% {
    background: linear-gradient(to right, transparent, rgb(255, 255, 255,0.2) 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0% 0;
  }
  100% {
    background: linear-gradient(to right,transparent, rgb(255, 255, 255,0.2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100% 0;
  }
} */

