.card {
  background: white;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 20px;
  width: 390px;
  position: relative;
}
.package {
  color: "#ff8541";
}
.profile {
  background-color: #d9d9d9;
}

@media screen and (max-width: 640px) {
  .card {
    width: 300px;
    height: 450px;
    font-size: small;
  }
}
@media screen and (min-width: 640px) {
  .card {
    width: 350px;
    height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    height: 510px;
    width: 360px;
  }
}
