.text {
  background: linear-gradient(to left, #FF8541, #DB6624);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: color-swap 3s linear infinite; */
}

.img {
  position: relative;
  margin: 0 auto;
}
@media screen and (width<=400px) {
  .img_top_text {
    transform: translate(1px);
  }
}

