.SuccessStories {
  display: flex;
  column-gap: 60px;
  margin-top: 45px;
  padding-inline: 40px;
  animation: scrollX 15s linear infinite;
}
.SuccessStories::-webkit-scrollbar {
  display: none;
}
@keyframes scrollX {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
