.image1 {
  background: url("/experts_images/image 1.png"), #fcd966 50% / cover no-repeat;
}
.image2 {
  padding: 10px;
  background: url("/experts_images/image 2.png"), #fcd966 50% / cover no-repeat;
}
.image3 {
  background: url("/experts_images/image 3.png"), #fcd966 50% / cover no-repeat;
  display: flex;
}
@media screen and (min-width: 200px) and (max-width: 1023px) {
  .card {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding-top: 10px;
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    border-top-left-radius: 89.5px;
    border-bottom-left-radius: 89.5px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}
@media screen and (max-width: 535px) {
  .heading {
    font-size: 24px;
    line-height: 30px;
  }
}

.text_hover {
  transition: background-color 0.3s ease;
  
}
.card:hover .text_hover {
  background-color: #fcd966;
}
.card:hover .heading {
  background: linear-gradient(270deg, #000 9.64%, #ff8541 99.8%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
