.left_section {
  overflow-y: hidden;
}
.image1 {
  animation: top_to_bottom 4s linear 2s infinite;
}
.image3 {
  animation: top_to_bottom 4s linear 2s infinite;
}
.image2 {
  animation: bottom_to_top 4s linear 2s infinite;
}
@keyframes top_to_bottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-600px);
  }
}
@keyframes bottom_to_top {
  from {
    transform: translateY(-600px);
  }
  to {
    transform: translateY(-0px);
  }
}
.border:focus-within {
  border: 1px solid #ff8541;
  border-radius: 8px;
  border: 1px solid #ff8541;
}
.checkbox:checked:checked + label::before {
  border: 1px solid #000;
  background-color: #ff8541; /* Set your desired color */
  border-color: #ff8541; /* Set your desired color */
}
.focus:focus-within {
  border: 1px solid #ff8541;
  box-shadow: 0px 4px 9.4px 0px #ff8541;
}
