
.image1{
    background: url("/experts_images/image 1.png"), #FCD966 50% / cover no-repeat;
}
.image2{
    background: url("/experts_images/image 2.png"), #FCD966 50% / cover no-repeat;
}
.image3{
    background: url("/experts_images/image 3.png"), #FCD966 50% / cover no-repeat;
}