.text_content {
  border-radius: 0px 0px 32px 32px;
  background: rgba(0, 0, 0, 0.77);
  backdrop-filter: blur(2.5px);
  height: 114px;
  width: 316px;
  position: absolute;
  bottom: 0;
  margin-inline: 10px;
  color: white;
  padding-left: 24px;
}
.continue_card {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;
  width: 316px;
  height: 186px;
  background: url("/classroom_Images/Course image.png") no-repeat;
}

.student_table{
  width: 710px;
  height: 21.5rem;
  border-radius: 16px;
  overflow: hidden;
  overflow-y: scroll ;
}
