.scroll1,
.scroll2,
.scroll3 {
  width: fit-content;
  display: flex;
  column-gap: 35px;
  padding-right: 50px;
}
@media screen and (max-width:640px) {
  .scroll1,
  .scroll2,
  .scroll3 {
    width: fit-content;
    display: flex;
    column-gap: 20px;
    padding-right: 40px;
  }
 
}
.scroll1 {
  animation: scrollX 15s linear infinite;
}
.scroll2 {
  animation: scrollX 25s linear infinite reverse;
}
.scroll3 {
  animation: scrollX 18s linear infinite;
}
@keyframes scrollX {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 535px) {
  .heading {
    font-size: 24px;
    line-height: 30px;
  }
}
